.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.img_image-container {
  margin: 8px;
  color: firebrick;
  text-align: center;
}

.img_title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
}